.DS_Store
.swp
.bak
cscope.*
*.orig
*.patch

build
*_build
cmake-build*
.idea
.vscode

*.log
*.jou
.settings
.cproject
.project

doctrees
doc/output/*

segger_embedded_studio
hpm5300evk_flash_xip_debug
*.pyc
sec_core_img.c
*.o

.cache
